<nav>
    <div class="logo">CampusConnect</div>
    <ul>
        <li><a href="/index">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/services">Services</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>
    <div class="profile">
        <h3><a href="/profile" style="color: inherit; text-decoration: none;">Profile</a></h3>
        <a href="/profile"><img src="data:image/jpeg;base64,<%= user.image.toString('base64') %>" alt="Profile Picture" class="profile-photo"></a>
    </div>
</nav>
