<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NITA</title>
  </head>
  <body>
    <div>
      <input type="button" value="Sign-up" onclick="shiftToSignUp()" />
      <input type="button" value="Login" onclick="shiftToLogin()" />
    </div>

    <div>
      <!-- Sign-up Form -->
      <div>
        <form action="/student/register" method="post">
          <div>
            <label for="user-name">User name</label>
            <input type="text" name="fullname" required />
            <label for="branch">Branch</label>
            <input type="text" name="branch" required />
            <label for="email-inp">E-mail</label>
            <input type="email" name="email" required />
          </div>
          <div>
            <label for="pass-inp">Create-Password</label><br />
            <input type="password" name="password" required /><br />
            <input type="submit" value="Sign-up" />
          </div>
        </form>
      </div>

      <!-- Login Form -->
      <div>
        <form action="/student/login" method="post">
          <div>
            <label for="email-inp">E-mail</label>
            <input type="email" name="email" required />
          </div>

          <label for="pass-inp">Password</label>
          <input type="password" name="password" required />

          <input type="submit" value="Login" />
        </form>
      </div>
    </div>
  </body>
</html>
